---
// Import some markdown. Dynamic import() is also supported!
import * as data from '../data/homepage.md'
import * as rooms from '../data/rooms.md'
import * as huts from '../data/picnic_huts.md'
import * as rates from '../data/rates.md'

const rate_content = rates.compiledContent()

import Layout from 'layouts/Layout.astro'
import Hero from 'components/Hero/Hero.astro'
import Carousel from 'components/Carousel/Carousel.astro'
import Rates from 'components/Rates.astro'
import Location from 'components/Location.astro'

const env_example = import.meta.env.VITE_ENV_EXAMPLE

---

<Layout title={data.frontmatter.title}>
	<main>
		<Hero />

		<section id="rooms" class="p-5">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2>{rooms.frontmatter.title}</h2>
						<div set:html={rooms.compiledContent()}></div>

          </div>
					<div class="column">
						<p class="tag is-black is-large is-align-self-flex-end">{rooms.frontmatter.prices}</p>
					</div>
				</div>

				<div class="columns">
					<div class="column">
						<p class="tag is-black is-large is-align-self-flex-end">{huts.frontmatter.prices}</p>
					</div>
					<div class="column">
						<h2>{huts.frontmatter.title}</h2>
						<div set:html={huts.compiledContent()}></div>
					</div>
				</div>

      </div>

			<div class="container">
				<div class="columns">
					<div class="column notification">
						<div set:html={rates.compiledContent()}></div>
					</div>
				</div>
			</div>
			
		</section>

		<!-- Features -->
	  <Carousel />

    <!-- RATES -->
		<Rates />

		<!-- LOCATION -->
		<Location />

    <!-- BOOK NOW -->
		<section id="book-now" class="p-5">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
						<p>{env_example}</p>
            <button class="button is-primary">Book Now</button>
          </div>
        </div>
      </div>
		</section>
	</main>
</Layout>

<style>
	:global(html) {
		scroll-behavior: smooth;
		scroll-padding-top: 70px;
	}
	@media (prefers-reduced-motion: reduce) {
     :global(html) {
       scroll-behavior: auto;
     }
   }
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	h2 {
		font-family: "Allura", cursive;
		font-weight: 900 !important;
		font-size: 3rem !important;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
