---
// Import some markdown. Dynamic import() is also supported!
import * as about from '../data/about.md'
import * as data from '../data/homepage.md'
import * as rooms from '../data/rooms.md'
import * as huts from '../data/picnic_huts.md'
import * as rates from '../data/rates.md'

//import * as features from '../data/features.md'

const rate_content = rates.compiledContent()

import Layout from 'layouts/Layout.astro'
import Hero from 'components/Hero/Hero.astro'
import Carousel from 'components/Carousel/Carousel.astro'
import Rates from 'components/Rates.astro'
import Location from 'components/Map/Location.astro'
import ProfileCard from 'components/Card/ProfileCard.astro'

import SwiperCarousel from 'components/Carousel/SwiperCarousel.jsx'


const env_example = import.meta.env.VITE_ENV_EXAMPLE

---

<Layout title={data.frontmatter.title}>
	<main>
		<Hero />

		<section id="about" class="p-5">
			<div class="container">
				<div class="columns">
					<div class="column is-two-thirds card" set:html={about.compiledContent()}></div>
					<div class="column">
						<div class="is-flex is-flex-direction-column max-height">
							<div class="margin-top-auto">
								<h3>Sharing Links</h3>
								<p>Here are some links to share</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="stay" class="p-5">
      <div class="container">
				<div class="columns">
					<div class="column">
						<h2 class="is-size-2 has-text-centered">What We Offer</h2>
					</div>
				</div>
        <div class="columns">
					<div class="column is-one-third">
						<ProfileCard 
							title={rooms.frontmatter.title}
							description="For that beach side resort experience"
							content={rooms.compiledContent()}
							pricing={rooms.frontmatter.prices}
						/>
					</div>
					<div class="column is-one-third">
						<ProfileCard 
							title={huts.frontmatter.title} 
							description="Perfect for get togethers and family gatherings"
							content={huts.compiledContent()}
							pricing={huts.frontmatter.prices}
						/>
					</div>
					<div class="column is-one-third">
						<ProfileCard 
							title="Camping"
							description="Wake up to a beautify sunrise"
							content={rooms.compiledContent()}
							pricing="500-2000"
						/>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<h2 class="is-size-2 has-text-centered">Our Generous Rates</h2>
					</div>
				</div>
				<div class="columns is-justify-content-center">
					<Rates />
				</div>
			</div>
		</section>

		<!-- Features -->
		<section id="amenities">
			<div class="container">
				<div class="columns">
					<div class="column">
						<h2 class="is-size-2 has-text-centered">Features</h2>
					</div>
				</div>
				<SwiperCarousel slides={data.frontmatter.features} client:idle />
			</div>
		</section>

		<!-- LOCATION -->
		<section id="location" class="p-5">
			<div class="container">
				<div class="columns">
					<div class="column is-half">
						<h2 class="is-size-2">Where to Find Us</h2>
						<ul>
							<li>Purok 6, Sitio Sapa, 6340 Philippines</li>
							<li>bolodbeachresort@yahoo.com.ph</li>
							<li>+63 920 603 9927</li>
						</ul>

						<div class="pt-5"></div>

						<h2 class="is-size-2">Additional Info</h2>
						<div set:html={rates.compiledContent()}></div>
					</div>
					<div class="column is-half">
						<div class="image is-4by3 map-wrapper">
							<div class="map-component">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15737.796293753707!2d123.8050511!3d9.556501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33aa5339c20ee1c3%3A0x7cdd0e156b5cd1e7!2sPanglao%20Bolod%20Beach%20Resort!5e0!3m2!1sen!2sph!4v1685202750494!5m2!1sen!2sph" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


    <!-- BOOK NOW -->
		<section id="book-now" class="p-5">
      <div class="container">
				<div class="columns">
					<div class="column">
						<h2 class="is-size-2 has-text-centered">Book Now</h2>
					</div>
				</div>
        <div class="columns">
          <div class="column has-text-centered">
						<p>{env_example}</p>
            <button class="button is-primary">Book Now</button>
          </div>
        </div>
      </div>
		</section>
	</main>
</Layout>

<style>
	:global(html) {
		scroll-behavior: smooth;
		scroll-padding-top: 70px;
	}
	@media (prefers-reduced-motion: reduce) {
     :global(html) {
       scroll-behavior: auto;
     }
   }
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.max-height { 
		height: 100%;
	}

	.margin-top-auto {
		margin-top:auto;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	#about {
		margin-top: -60px;
	}
	#about .card {
		z-index: 9;
	}
	.map-wrapper {
    background-color: aliceblue;
    position: relative;
  }
  .map-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
