---
// Import some markdown. Dynamic import() is also supported!
import * as data from '../data/homepage.md'

import * as rooms from '../data/rooms.md'
import * as huts from '../data/picnic_huts.md'

import Layout from 'layouts/Layout.astro'
import Footer from 'layouts/Footer.astro'
import Rates from 'components/Rates.astro'
import ProfileCard from 'components/Card/ProfileCard.astro'
import Location from 'components/Map/Location.astro'
import Hero from 'components/Hero/Hero.astro'
import SwiperCarousel from 'components/Carousel/SwiperCarousel.jsx'
import ContactForm from 'components/Form/ContactForm.astro'

const form_handler = import.meta.env.CONTACT_FORM_HANDLER
const form_type = import.meta.env.CONTACT_FORM_TYPE

const hours_list = data.frontmatter.hours

---

<Layout title={data.frontmatter.title}>
	<main>

		<Hero 
			title={data.frontmatter.hero_title} 
			subtitle={data.frontmatter.hero_subtitle} 
			button={data.frontmatter.hero_button_text}
		/>

		<section id="about" class="p-5">
			<div class="container">
				<div class="columns">
					<div class="column is-two-thirds card">
						<h3>{data.frontmatter.about_title}</h3>
						<div set:html={data.frontmatter.about_description}></div>
					</div>
					<div class="column">
						<div class="is-flex is-flex-direction-column max-height">
							<div class="margin-top-auto">
								<h3>Sharing Links</h3>
								<p>Here are some links to share</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="stay" class="p-5">
      <div class="container">
				<div class="columns">
					<div class="column">
						<h2 class="is-size-2 has-text-centered">{data.frontmatter.stay_title}</h2>
						<ul>
							<li>NO ENTRANCE FEE & NO CORKAGE FEE for foods/drinks</li>
							<li>RESERVATIONS for Picnic Huts needed except on Saturdays, Sundays and Holidays</li>
						</ul>
					</div>
				</div>
        <div class="columns">
					<div class="column is-one-third">
						<ProfileCard 
							title={rooms.frontmatter.title}
							image="https://bulma.io/images/placeholders/480x480.png"
							description="For that beach side resort experience"
							content={rooms.compiledContent()}
							pricing={rooms.frontmatter.prices}
						/>
					</div>
					<div class="column is-one-third">
						<ProfileCard 
							title={huts.frontmatter.title}
							image="https://bulma.io/images/placeholders/480x480.png"
							description="Perfect for get togethers and family gatherings"
							content={huts.compiledContent()}
							pricing={huts.frontmatter.prices}
						/>
					</div>
					<div class="column is-one-third">
						<ProfileCard 
							title="Camping"
							image="https://bulma.io/images/placeholders/480x480.png"
							description="Wake up to a beautiful sunrise"
							content={rooms.compiledContent()}
							pricing="500-2000"
						/>
					</div>
				</div>

				<Rates
					title={data.frontmatter.rates_title}
					picnic_area={data.frontmatter.picnic_area}
					tents={data.frontmatter.tents}
					rooms={data.frontmatter.rooms}
				/>
				
			</div>
		</section>

		<!-- Features -->
		<section id="amenities">
			<div class="container">
				<div class="columns">
					<div class="column">
						<h2 class="is-size-2 has-text-centered">{data.frontmatter.features_title}</h2>
					</div>
				</div>
				<SwiperCarousel slides={data.frontmatter.features} client:idle />
			</div>
		</section>

		<!-- BOOK NOW -->
		<section id="book-now" class="p-5">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
						<ContactForm 
						  title={data.frontmatter.book_now_title}
							handler={form_handler}
							type={form_type}
						/>
          </div>
        </div>
      </div>
		</section>
	</main>
	<Footer>
		<Location 
		  title={data.frontmatter.location_title}
			address={data.frontmatter.location_address}
			map={data.frontmatter.location_map}>
			<h2 class="is-size-2">{data.frontmatter.hours_title}</h2>
			<ul>
				{hours_list.map((data:any) => <li><b>{data.type}</b>: {data.time}</li>)}
			</ul>
		</Location>
	</Footer>
</Layout>

<style>
	#about {
		margin-top: -60px;
	}
	#about .card {
		z-index: 9;
	}
</style>
