---
// Import some markdown. Dynamic import() is also supported!
import * as about from '../data/about.md'
import * as data from '../data/homepage.md'
import * as rooms from '../data/rooms.md'
import * as huts from '../data/picnic_huts.md'
import * as rates from '../data/rates.md'

const rate_content = rates.compiledContent()

import Layout from 'layouts/Layout.astro'
import Hero from 'components/Hero/Hero.astro'
import Carousel from 'components/Carousel/Carousel.astro'
import Rates from 'components/Rates.astro'
import Location from 'components/Map/Location.astro'
import ProfileCard from 'components/Card/ProfileCard.astro'

const env_example = import.meta.env.VITE_ENV_EXAMPLE

---

<Layout title={data.frontmatter.title}>
	<main>
		<Hero />

		<section id="about" class="p-5">
			<div class="container">
				<div class="columns">
					<div class="column is-two-thirds card" set:html={about.compiledContent()}></div>
					<div class="column">
						<div class="is-flex is-flex-direction-column max-height">
							<div class="margin-top-auto">
								<h3>Sharing Links</h3>
								<p>Here are some links to share</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="stay" class="p-5">
      <div class="container">
        <div class="columns">
					<div class="column is-one-third">
						<ProfileCard 
							title={rooms.frontmatter.title}
							description="For that beach side resort experience"
							content={rooms.compiledContent()}
							pricing={rooms.frontmatter.prices}
						/>
					</div>
					<div class="column is-one-third">
						<ProfileCard 
							title={huts.frontmatter.title} 
							description="Perfect for get togethers and family gatherings"
							content={huts.compiledContent()}
							pricing={huts.frontmatter.prices}
						/>
					</div>
					<div class="column is-one-third">
						<ProfileCard 
							title="Camping"
							description="Wake up to a beautify sunrise"
							content={rooms.compiledContent()}
							pricing="500-2000"
						/>
					</div>
				</div>
			</div>
		</section>

		<!-- Features -->
	  <Carousel />

		<section id="rooms" class="p-5">
			<div class="container">
				<div class="columns is-flex is-justify-content-center">
					<h3 class="has-text-centered">Additional Information</h3>
				</div>
				<div class="columns is-flex is-justify-content-center">
					<div class="column is-two-thirds notification">
						<div set:html={rates.compiledContent()}></div>
					</div>
					
				</div>
			</div>
			
		</section>

		

    <!-- RATES -->
		<Rates />

		<!-- LOCATION -->
		<Location />

    <!-- BOOK NOW -->
		<section id="book-now" class="p-5">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
						<p>{env_example}</p>
            <button class="button is-primary">Book Now</button>
          </div>
        </div>
      </div>
		</section>
	</main>
</Layout>

<style>
	:global(html) {
		scroll-behavior: smooth;
		scroll-padding-top: 70px;
	}
	@media (prefers-reduced-motion: reduce) {
     :global(html) {
       scroll-behavior: auto;
     }
   }
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.max-height { 
		height: 100%;
	}

	.margin-top-auto {
		margin-top:auto;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	#about {
		margin-top: -60px;
	}
	#about .card {
		z-index: 9;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
