---
// Rates

import * as data from '../data/rates.md'

const picnic_area = data.frontmatter.picnic_area
const tents = data.frontmatter.tents
const rooms = data.frontmatter.rooms
const rooms_content = data.frontmatter.rooms_content
const hours = data.frontmatter.hours
const content = data.compiledContent()

---
<div class="column is-one-third">
    <h2 class="is-size-4">Picnic Area</h2>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Type</th>
          <th>Guests</th>
          <th>Daytime (P)</th>
          <th>Overnight (P)</th>
        </tr>
      </thead>
      <tbody>
        {picnic_area.map((item:any) => ( 
          <tr>
            <td>{item.type}</td>  
            <td>{item.description}</td>
            <td>{item.daytime}</td>
            <td>{item.overnight}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>

  <div class="column is-one-third">
    <h2 class="is-size-4">Rooms</h2>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Type</th>
          <th>Guests</th>
          <th>Price (P)</th>
        </tr>
      </thead>
      <tbody>
        {rooms.map((item:any) => (
          <tr>
            <td>{item.type}</td>
            <td>{item.description}</td>
            <td>{item.price}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>

  <div class="column is-one-fifth">
    <h2 class="is-size-4">Tents</h2>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Type</th>
          <th>Guests</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {tents.map((item:any) => ( 
          <tr>
            <td>{item.type}</td>  
            <td>{item.description}</td>
            <td>{item.price}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
</div>
